@import url('https://fonts.googleapis.com/css2?family=Lora:wght@600&display=swap');

*,
*::after,
*::before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
background: #171716;   
}
html{
    scroll-behavior: smooth;
}

.navbar input[type="checkbox"],
.navbar .hamburger-lines{
    display: none;
}

.container{
    max-width: 1200px;
    width: 90%;
    margin: auto;
}

.black_display{
    height: 50%;
    width: 100%;
    background: rgb(0, 0, 0);
    border: 1px solid rgb(253, 251, 251);
    display: flex;
    position: absolute;
    z-index: 10;
    top: -100%;
}
.black_display2{
    height: 50%;
    width: 100%;
    background: rgb(0, 0, 0);
    border: 1px solid rgb(255, 255, 255);
    display: flex;
    position: absolute;
    bottom: 0%;
    z-index: 10;
left: -100%;
}

.navbar{

    box-shadow: 0px px 10px 0px #aaa;
    position: fixed;
    width: 100%;
    color: #000;
    opacity: 0.85;
    z-index: 100;
    background-color: #171716;
}
@keyframes chang{
   0%, 30%{
    
background-color: #3b3f3e;
   } 
   30%,50%{
    background-color: rgb(29, 52, 55);
   }
   50%,80%{
    background: rgb(27, 55, 35);
   }
   80%,100%{
    background-color: #280909;
   }
}

.navbar-container{
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;
}

.menu-items{
    order: 2;
    display: flex;
}
.logo img{
    position: absolute;
    left: 0%;
    top: 0%;
    width: 80px;
    height: 70px;
    border-radius: 55px;
}

.menu-items li{
    list-style: none;
    margin-left: 1.5rem;
    font-size: 1.3rem;
    
}

.navbar a{
    color: #e3e1e1;
    text-decoration: none;
    font-weight: 500;
    font-size: large;
    transition: color 0.3s ease-in-out; 
}

.navbar a:hover{
    color: #117964;
}


.main-container{
    width: 100%;
    padding: 10rem 5% 2rem;
    background-color: whitesmoke;

}

#HOME{  
    background: linear-gradient(120deg, #0e0d0d 55%, #161616 55%);
    color: #000;
}
.main-container .img{display: none;}

.home{
display: flex;
align-items: center;
}
.home-content{
    max-width: 37rem;
    height: 437px;
    color: blanchedalmond;
}

.home-content h1{
    font-size: 3.1rem;
    font-weight: 600;
    font-family: sans-serif;
}
.home-content p{
    font-size: 1rem;
    font-family: sans-serif;
}
.ui_animation{
    margin: 1%;
    animation: ui infinite 2s ease-in-out;
    color: #c01818;
}
@keyframes ui {
    0%,10%{
color: #fff;
transition: 3s;
    }
    10%,30%{
        color: #117964;
        transition: 3s;
    }

    30%,50%{
        color: yellow;
    transition: 3s;
    }
    50%,70%{
        color: royalblue;
        transition: 9s;
    }
    70%,100%{
        color: #802020;
        transition: 3s;
    }
}


.home-content .social-media a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    background: transparent;
    border: .1rem solid gray;
    border-radius: 50%;
    font-size: 1rem;
    color: #9e9d9d;
    margin: 1rem 0.1rem 1.5rem 0;
    text-decoration: none;
}
.home-content .social-media a:hover{
background-color: #444;
color:  #fff;
}
.btn{
    display: inline-block;
    padding: 0.5rem 0.7rem;
    background-color: #7d7b7b;
    color: #fff;
    border-radius: 3rem;
    text-decoration: none;
}

.btn:hover{
    background-color: #0d0d0d;
    color: #cdc7c7;
    transition: 0.5s ease-in-out;
    
}

.switch {
    display: inline-block;
    position: relative;
    width: 50px;
    height: 25px;
    border-radius: 20px;
    background: #dfd9ea;
    transition: background 0.28s cubic-bezier(0.4, 0, 0.2, 1);
    vertical-align: middle;
    cursor: pointer;
}
.switch::before {
    content: '';
    position: absolute;
    top: 1px;
    left: 2px;
    width: 22px;
    height: 22px;
    background: #fafafa;
    border-radius: 50%;
    transition: left 0.28s cubic-bezier(0.4, 0, 0.2, 1), background 0.28s cubic-bezier(0.4, 0, 0.2, 1), box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}
.switch:active::before {
    box-shadow: 0 2px 8px rgba(0,0,0,0.28), 0 0 0 20px rgba(128,128,128,0.1);
}
input:checked + .switch {
    background: #000000;
}
input:checked + .switch::before {
    left: 27px;
    background: #fff;
}
input:checked + .switch:active::before {
    box-shadow: 0 2px 8px rgba(0,0,0,0.28), 0 0 0 20px rgba(0,150,136,0.2);
}





.side_pic img{
    position: absolute;
    right:10%;
    top: 20%;
background-repeat: no-repeat;
background-position: right;
background-size: cover;
width: 28%;
height: 59%;
z-index: 5; 
border: 0.5px solid rgb(109, 109, 109);
border-radius: 100%;
}

 .ssk{
    /* text-align: center; */
    color:white;
    font-size: 6rem;
    margin-bottom: 3%;
    border-bottom: 9px solid red;
    display: inline-block;
    position: relative;
    left: 9px;
 font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.ssk2{
    display: inline-block;
    font-size: 6rem;
margin-top: 3%;
margin-bottom: 3%;
border-bottom: 9px solid red;
 color: #ffffff;
 font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.ssk3{
    margin-top: 3%;
border-bottom: 9px solid red;
display: inline-block;
    font-size: 6rem;
    color: #ffffff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
}



/* collage */
.main_page{
height: fit-content;
color: whitesmoke;
display: flex;
width: 100%;
}

.heading_h1 :nth-child(1){
    position: relative;
    right: 10%;
    font-size: 4rem;
    color: #802020;
    transition: 2s; 
}
.heading_h1 :nth-child(2){
    width: 97%;
    position: relative;
    left: 2%;
    font-size: 1.5rem;
    color: #aaaaaa;
  /* opacity: 0; */
  transition: 2s;
}
.clg{
    width: 80vw;
    height: 50vh;
    position: relative;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
border-radius: 4%;
animation-name: clg;
animation-duration: 30s;
animation-direction: alternate-reverse;
animation-iteration-count: infinite;
animation-fill-mode: forwards;
animation-play-state: running;
animation-timing-function: ease-out;
}
@keyframes clg {
0%{
    background-image: url(./clg1.jpg);
}
20%{
    background-image: url(./clg2.jpg);
}
30%{
    background-image: url(./clg3.jpg);
}
45%{
    background-image: url(./clg4.jpg);
}
60%{
    background-image: url(./clg1.jpg);
}
75%{
    background-image: url(./clg2.jpg);
}
85%{
    background-image: url(./clg3.jpg);
}
100%{
    background-image: url(./clg4.jpg);
}
}
/* form */
.hiring{
    text-align: center;
    border-radius: 5%;
    display: flex;
    width: 60%;
    height: 55%;
    display: flex;
    margin: auto;
    margin-top: 4%;
    margin-bottom: 4%;
}


.feedback-input {
    color: white;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 18px;
    border-radius: 5px;
    line-height: 22px;
    background-color: rgb(33, 31, 31);
    border: 2px solid #383737;
    transition: all 0.3s;
    padding: 13px;
    margin-bottom: 15px;
    width: 80%;
    box-sizing: border-box;
    outline: 0;
  }
  
  .feedback-input:focus {
    border: 2px solid #000000;
  }
  
  textarea {
    height: 150px;
    line-height: 150%;
    resize: vertical;
  }
  
  [type="submit"] {
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    width: 40%;
    background: #3c3b3b;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    color: white;
    font-size: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: all 0.3s;
    margin-top: -4px;
    font-weight: 700;
  }
  [type="submit"]:hover {
    background: #000000;
  }
/* |||||||||||||||||||||||||     skills      ||||||||||||||||||||||||||||||| */


#skills{
    padding: 10px;
    overflow: hidden;
    width: 100%;
text-align: center;
align-items: center;
color: whitesmoke;
display: flex;
flex-wrap: wrap;
height: fit-content;
background: #171716;   
overflow: hidden;

}

.de_s{
    margin-top: 4%;
    margin-left: 4%;
width: 20%;
height: 50vh;
border: 2px solid rgb(94, 93, 93);
border-radius: 10%;
    opacity: 0;
    background: linear-gradient(40deg, #ffffff 60%, #000000 60%);
    background: linear-gradient(30deg, #5d5c5b 30%, #05050c 50%);
}
.de_s:hover{
        transform: scaleY(1.05);
        transition: 1s;
            background: linear-gradient(50deg, #000000 60%, #454545 60% );
}

#skl h6{
    position: relative;
    bottom: 20x;
    font-size: 2.5rem;
    margin: 1%;
    color: rgb(222, 71, 44);
}
#skl p{
    width: 96%;
    margin: auto;
    font-size: 1rem;
    text-align: center;

}
#skl img{
  background-position: center; 
  background-repeat: no-repeat;
  background-size: cover;
  width: 100px;
  height: 100px;
 
}
.content-dark-mode {
    background-color: #2B2E30;
    box-shadow: 4px 4px 25px #202324;
}
.btn {
    cursor: pointer;
    padding: 6px;
    border-radius: 5px;
    background-color: #2185D0;
    text-decoration: none;
    color: #fff;
}
.btn:hover {
    background-color: #1767D0;
}
.btn-dark-mode {
    background-color: #19659E;
}
.btn-dark-mode:hover {
    background-color: #1354AA;
}

.project{
    border: 1px solid red;
    width: 100%;
    height: 100%;
}
.project_1{
    border: 2px solid gold;
    
}
.project_1 .pic img{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    width: 400px;
    height: 400px;
    margin: auto;
    display: flex;
}

.main_sld{
    background-color: #000;
    width: 100%;
    height: 100vh;
    position: absolute;
    overflow: hidden;
}

.top{
width: 100%;
height: 50vh;
color: whitesmoke;
background: linear-gradient(50deg, #000000 60%, #121010 60% );
position: absolute;
top: 0%;
overflow: hidden;
}
.center{
    width: 100%;
    height: 100vh;
    background-color: rgb(5, 5, 5);
    position: absolute;
    top: 0%;
}

.bottom{
    width: 100%;
    height: 50vh;
    color: whitesmoke;
    background: linear-gradient(50deg, #0d0d0d 60%, #201f1f 60% );
    position: absolute;
 bottom:0% ;
 overflow: hidden;
}
.main_sld h1{
font-size: 6rem;
display: flex;
align-items: center;
text-align: center;
justify-content: center;
}

.top_h1{
    position: relative;
top: 85%;
}

.bottom_h1{
    position: relative;
    bottom: 15%;
    }
.center_div :nth-child(1){
    font-size: 4rem;
    position: relative;
    margin-bottom: 5%;
    margin-top: 10%;
    color: #1354AA;
    text-align: center;
}
.center_div :nth-child(2){
    text-align: center;
    font-size: 1.6rem;
    color: yellow;
  
}
.center_img{
    position: relative;
    top: 5%;
    align-items: center;
    justify-content: center;
    display: flex;


}
.sp{
position: relative;
top: 5%;
margin-right:20px;
}
.fnt{
    color: #ededed;
    font-size: 20px;
margin: auto;
justify-content: center;
display: flex;
margin-top: 5px;
}
 .center .c_img{
    width: 200px;
    height: 200px;
animation-name: c_img;
animation-duration: 1s;
animation-iteration-count: infinite;
animation-direction: alternate-reverse;
}

@keyframes c_img {
    0%{
        transform: rotate(7deg);
    }
    100%{
        transform: rotate(-7deg);
    }
}
    
.sl_border{
    position: absolute;
    left: -100%;
    bottom: 0%;
    height: 3px;
    width:100%;
    background: linear-gradient(50deg, #f4f1f1 60%, #b3b3b6 60% );
}
    



















